*{
    margin:0;
    cursor: url("kursor.png"), auto;
}
body{
    background-color: #DEC39B;
    margin: 0vw 12vw;
}
header{
    height:22vw;
    background-image: url("ciasto.jpg");
    background-size: cover;
    border: 1px solid black;
}

.logo{ 
    height:18vw;
    width:18vw;
    border-radius:50%;
    position:absolute;
    left:50%;
    top:12vw; 
    transform:translate(-50%);
}

main{
    height:auto;
    background-color: beige;
}
.cook{
    position: fixed;
    top:100%;
    left:70%;
    transform:translate(0,-95%);
    
}

.cook_svg{
    width: 25vw;
    height:25vw;
    
}
#dymek{
   position:absolute;
   top:20px;
   left: 292px;
    width:7vw;
    font-size: 20px;
    font-family: fantasy;

}


.content1{
    height:1800px;
    padding-top: 120px;
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
}
.box{
    height:650px;
    margin:2vw;
}
iframe{
    height:650px;
    width:625px;
    border-radius:30px;
}
.content2{
    height:1500px;
    width:100%;
    background-color:yellow;

}

.content3{
    height:1500px;
    width:100%;
    background-color:black;

}
.content4{
    height:1500px;
    width:100%;
    background-color:blue;

}
.content5{
    height:1500px;
    width:100%;
    background-color:red;

}
.miniatura{
    height:100px;
    width:100px;
    position:relative;
    left:300px;
}
.miniatura1{
    position:relative;
    left:250px;
    height:100px;
    width:100px;
    bottom:100px;
}
img{
    width:100px;
    height:100px;
}
.stopka{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    color:black;
    font-size:50px;
    font-family: fantasy;
    text-decoration: none;
    text-shadow: 4px 2px 6px #ffffff;
}
.autorzy{
    margin-left:10%;
    margin-top:5%;
}
.copy{
    background-color: black;
    display: flex;
    justify-content: space-around;
    color:white;
    font-size:22px;
    text-decoration:none;
}
